**.pyc
**.obj
**.stl
**.mtl
**.zip
**.pickle
.vscode
robots
!robots/skeleton/config.json
!robots/demo-quadruped/config.json
data
onshape_to_sim/onshape_to_sim/onshape_api/test
**/cache/
dist
build
onshape_to_robot.egg-info